*{margin: 0;
padding: 0;
box-sizing: border-box;
font-family: sans-serif;
}
body{
    display: flex;
    width: 100vw;
    height: 100vh;
    margin: auto;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
    background-image: url("https://images.unsplash.com/photo-1515612148533-6247582c12c7?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=MnwxfDB8MXxyYW5kb218MHx8bGFuZHNjYXBlfHx8fHx8MTY4Mzg5NzUyMw&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600");
}
.caixa-g{
    padding: 20px;
    margin: auto;
    align-items: center;
    justify-content: center;
    width:90%;
    max-width: 450px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 25px;
}
#cidade{
    
    border: none;
    outline: none;
    padding: 10px;
    border-radius:25px;
    font-size: 18px;
    color: white;
    background-color: #302f2fca;
    width:84%;
}
.btn-buscar{
    cursor: pointer;
    padding: 10px;
    background-color: #302f2fca;
    border-radius: 50%;
    float: right;
}
.img-buscar{
    width: 15px;
    align-items: center;
    outline: none;
    border: none;
    align-items: center;   
}
.cidade1{
    color: white;
    font-size: 18px;
    padding: 10px;
}
.temp{
    color: white;
    font-size: 18px;
    padding: 10px;
}
.caixa-p{
    display: flex;
    align-items: center;
}
.inco-previsao{
    
}
.texto-previsao{
    color: white;
    font-size: 18px;
    padding: 10px;
    text-transform: capitalize;
    
}
.humidade{
    color: white;
    font-size: 18px;
    padding: 10px;
}
.grau{
    color: white;
    font-size: 18px;
    padding: 10px;
    text-transform: capitalize;
}

