*{margin: 0;
padding: 0;
box-sizing: border-box;
font-family: sans-serif;
}
body{
    display: flex;
    width: 100vw;
    height: 100vh;
    margin: auto;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
    background-image: url("https://www.youtube.com/redirect?event=video_description&redir_token=QUFFLUhqbnVWbnpNYkg3YzZzbUppMDVmckFMTXMzR19TQXxBQ3Jtc0ttWlFnQUllcmVLQUFIVDZETkdsU3lwTDdLZmFiLVU1UU9UWkhQbU4xMkxheUM4OE9UR0J3dndKOWd0dm10SENnT3BlblRDV0VYajdzNG5kRHB3SFJRcjlqNXJ1ZG1mdERKZndHaFRxdDEzSTNxVlZ5VQ&q=https%3A%2F%2Fsource.unsplash.com%2F1600x900%2F%3Flandscape&v=qxzqEuAOYZ4");
}
.caixa-g{
    padding: 20px;
    margin: auto;
    align-items: center;
    justify-content: center;
    width:90%;
    max-width: 450px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 25px;
}
#cidade{
    
    border: none;
    outline: none;
    padding: 10px;
    border-radius:25px;
    font-size: 18px;
    color: white;
    background-color: #302f2fca;
    width:84%;
}
.btn-buscar{
    cursor: pointer;
    padding: 10px;
    background-color: #302f2fca;
    border-radius: 50%;
    float: right;
}
.img-buscar{
    width: 15px;
    align-items: center;
    outline: none;
    border: none;
    align-items: center;   
}
.cidade1{
    color: white;
    font-size: 18px;
    padding: 10px;
}
.temp{
    color: white;
    font-size: 18px;
    padding: 10px;
}
.caixa-p{
    display: flex;
    align-items: center;
}
.inco-previsao{
    
}
.texto-previsao{
    color: white;
    font-size: 18px;
    padding: 10px;
    text-transform: capitalize;
    
}
.humidade{
    color: white;
    font-size: 18px;
    padding: 10px;
}
.grau{
    color: white;
    font-size: 18px;
    padding: 10px;
    text-transform: capitalize;
}

